*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
/app/src/main/java/com/github/mantasjasikenas/namiokai/FEATURE.md
/app/src/release/google-services.json
/app/src/google-services.json
/app/debug/*
/*.jks
/.secrets
/.env
/.github/workflows/release-local.yml
/app/src/main/kotlin/com/github/mantasjasikenas/namiokai/FEATURE.md
/.kotlin
/app/release/app-release.aab
keystore.properties